body {
  /*background: url("drug.png") no-repeat center;*/
  background-color: #9900CC;
  height: 4542px;
  margin: 0;
}

.frame {
  position: relative;
  left: 2.1%;
  background: url('dialog.png') no-repeat;
  height: 518px;
}

.question {
  font-family: sans-serif;
  position: relative;
  top: 85px;
  left: 6%;
  height: auto;
  font-size: 0.6em;
}

.choices {
  position: relative;
  bottom: -125px;
  left: 6.3%;
}

.choices a {
    /*background-color: rgba(0, 0, 0, .15);*/
    height: 45px;
    width: 81.4%;
    margin-top: 20px;
    display: block;
    font-family: sans-serif;
}

.choices a div {
  position: relative;
  top:50%;
    -webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  margin-left: 3.5%;
}

.choices a:hover {
    cursor: pointer;
    /*background-color: rgba(0, 0, 0, .30);*/
}

.choice {
  background-color: #ffff00;
}

.dialog {
  position: relative;
  background: url("dialog.png") no-repeat;
  left: 2%;
  top: -539px;
  height: 518px;
  display: none;
}

.dialog div {
  position: relative;
  top: 50px;
  left: 30px;
}

.dialog div h3 {
  margin-right: 70px;
}

.dialog .question {
  position: relative;
  top: 100px;
  left: 40px;
}

.top {
  background: url("a.png") no-repeat;
  height: 553px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}
